<div class="page-content ask-question">
  <div class="boxedtitle page-title">
    <h2>Forgot Your Password</h2></div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-style form-style-3" id="user_password">
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, id: "question-title" %>
  </div>
<div class="field"></div>
 <div class="clearfix"></div>
  <div class="actions">
    <br />
    <input type="submit" name="commit" value="Send me reset password instructions" class="button color small submit", style="width: 300px;">
  </div>
<% end %>
          <br />
          <div class="field"></div>
          <div class="clearfix"></div>
          <hr>
          <br />
<%= render "devise/shared/links" %>
</div>
</div>
