<div class="page-content ask-question">
  <div class="boxedtitle page-title">
    <h2>Login</h2></div>
  <%=form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-style form-style-3" id="user_email">
      <div class="field">
        <%=f.label:email %>
          <!--<br />-->
          <%=f.email_field:email, autofocus: true, id: "question-title" %>
      </div>
      <div class="clearfix"></div>
      <div class="field"> </div>
      <div class="field">
        <%=f.label:password %>
          <!--<br />-->
          <%=f .password_field:password, autocomplete: "off", id: "question-title" %>
      </div>
           <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%=f .check_box:remember_me %>
            <%=f .label:remember_me %>
        </div>
        <% end %>
        <div class="clearfix"></div>
          <div class="actions">

            <input type="submit" name="commit" value="Log in" class="button color small submit", style="width: 110px;">

          </div>
          <% end %>
          <br />
          <div class="field"></div>
          <div class="clearfix"></div>
          <hr>
            <%=render "devise/shared/links" %>
    </div>
</div>